body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  text-align: center;
  margin-top: 50px;
}

.reload-button{
  font-size: 24px;
  background-color: red;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
}

.reload-button-small {
  font-size: 16px;
  margin-top: 20px;
}

.pokemon-card {
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid #e23d3d;
  background-color: #f2f2f2;
  box-sizing: border-box;
  display: inline-block;
}

.pokemon-card img {
  border: 2px solid black;
  width: 200px;
  height: 200px;
}

.pokemon-card h2 {
  margin: 0;
  padding: 0;
  color: #e23d3d;
}

.pokemon-info {
  font-size: 14px;
  margin-top: 5px;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  display: inline-block;
  width: 50px;
  height: 50px;
}

.spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 6px;
  border: 6px solid crimson;
  border-radius: 50%;
  animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: crimson transparent transparent transparent;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}